@use "../abstract/" as *;

%btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: em(15) em(44);
  font-size: clamp(rem(14), 3vw + 1rem, rem(18));
  letter-spacing: rem(2.5);

  border: 1px solid $clr-neutral-100;
  color: $clr-neutral-100;
  background-color: transparent;

  transition: $transition;

  &:is(:hover, :focus-visible) {
    background-color: $clr-neutral-100;
    color: $clr-neutral-900;
    border: 1px solid $clr-neutral-900;

    outline: none;
  }
}

%btn-inverse {
  border: 1px solid $clr-primary-900;
  background-color: $clr-primary-900;
  color: $clr-neutral-100;

  &:is(:hover, :focus-visible) {
    background-color: transparent;
    color: $clr-primary-900;
  }
}

.btn {
  @extend %btn;
  margin-top: rem(40);
}

.control-number-people {
  width: rem(15);
  height: rem(15);
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid $clr-primary-900;
    outline-offset: 10px;
  }
}

.icon {
  width: rem(15);
  height: rem(15);
}

.btn-booking {
  @extend %btn;
  @extend %btn-inverse;
  width: 100%;
}
