@use "../abstract/" as *;

.form-card {
  $input-padding: rem(13);
  position: relative;
  background-color: $clr-neutral-100;
  padding: rem(50);
  width: min(rem(540), 100%);
  box-shadow: $card-shadow;
  transform: translateY(-70px);
  opacity: 0;

  animation: slide-down 1000ms ease-out forwards 500ms;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../assets/patterns/pattern-lines.svg");
    background-repeat: no-repeat;
    width: 160px;
    height: 76px;
    bottom: rem(-39);
    left: rem(-79);
  }

  input,
  .select {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba($clr-primary-900, 0.2);
    cursor: pointer;
    outline: none;

    transition: $transition;

    &:focus-visible {
      border-bottom: 1px solid rgba($clr-primary-900, 1);
    }

    &#name,
    &#email {
      padding: 0 0 $input-padding $input-padding;
    }
  }

  div + div,
  button {
    margin-top: rem(20);
  }

  .date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date-box {
      display: flex;
      gap: rem(20);
      align-items: center;

      input,
      .select {
        width: rem(80);
        text-align: center;
        padding-bottom: $input-padding;
      }
    }
  }

  .select-dropdown {
    position: relative;

    .icon-arrow {
      transition: $transition;
    }

    .icon-arrow--active {
      transform: rotate(180deg);
    }

    .dropdown {
      position: absolute;
      bottom: -200%;
      left: 0;
      width: 100%;
      background-color: $clr-neutral-100;
      color: rgba($clr-neutral-200, 0.6);
      box-shadow: 0 10px 20px rgba($clr-neutral-200, 0.4);

      transform: translateY(-50px);
      opacity: 0;

      transition: $transition;

      &--active {
        transform: translateY(0);
        opacity: 1;
      }

      .time-period {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: em(3) em(5);
        cursor: pointer;

        transition: $transition;

        &:hover {
          color: $clr-neutral-900;
        }

        svg {
          opacity: 0;
          transition: $transition;
        }

        &--active {
          color: $clr-neutral-900;

          & svg {
            opacity: 1;
          }
        }
      }
    }
  }

  .select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);

    .period {
      text-transform: uppercase;
    }
  }

  .person-number-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $input-padding $input-padding $input-padding;
    border-bottom: 1px solid $clr-primary-900;
  }
}
